

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}





.box{
     height: 100vh;
     display:flex;
     flex-wrap: wrap;
     border: 4px solid black;
     gap: 50px 5px;
     align-items: center;
     justify-content:space-evenly ;

}


.item{
   width: 100px;
   height: 100px;
   background-color: red;
   border: 3px solid yellow;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   

}


